*.asv
*.pyc
.idearesources/*
Analysis.prj
resources/
/projects/BlackBody/Leiden2021Oct/CircmonFromChris/PSD/Figures/
/projects/BlackBody/Leiden2021Oct/CircmonFromChris/PSD/Figures V1/
/projects/BlackBody/Leiden2021Oct/CircmonFromChris/PSD/Figures V2/
/projects/BlackBody/Leiden2021Oct/CircmonFromChris/PSD/Figures_Nov12/
/projects/BlackBody/Leiden2021Oct/CircmonFromChris/PSD/Figures_Nov15/
/projects/BlackBody/Leiden2021Oct/XmonSyracuse/PSD/Figures/
